ul{
	background-color: none;
	margin: 0;
	padding:5px;
}

.nav{
	position: relative;
	left: 100px;
}

li{
	background-color:;
	display: block;
	padding:;
}

.box {
	float: left right;
	width: 50%;
}

img{
	display: block;
	border: thick;
	float: left;
}

p {
	background-color: yellow;
	border: none;
	margin: 20px;
	padding: 0;
	position: relative;
	right: 20px;
	top: 150px;
}
